.user-profile {
  /* display: grid; */
  /* grid-template-rows: auto 1fr auto; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.user-profile-navbar {
  /* grid-row: 1; */
  order: 1;
}

.user-profile-footer {
  /* grid-row: 3; */
  order: 3;
}

.user-profile-section {
  /* grid-row: 2; */
  order: 2;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 7fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 4fr 1fr;

  height: auto;
  width: 100vw;

  /* temporary */
  background-color: lightcoral;
}
