.cart-order-component{
    background-color: #ffffff;
    text-align: left;
    height: 60vh;
    overflow-y: scroll;
}
.cart-order-component::-webkit-scrollbar {
    width: 10px;
}
  /* Track */
.cart-order-component::-webkit-scrollbar-track {
    opacity: 0;
}

  /* Handle */
.cart-order-component::-webkit-scrollbar-thumb {
    background:#17b0c3; 
    border-radius: 10px;
}

  /* Handle on hover */
.cart-order-component::-webkit-scrollbar-thumb:hover {
    background: #17b0cf; 
}