.user-profile-section-detail {
  display: grid;
  grid-template-columns: 2fr 1fr 7fr;
  grid-template-areas: "title . value";
  margin: 1rem 0;
}

.user-profile-section-detail-title {
  grid-area: title;
  font-weight: bold;
}

.user-profile-section-detail-value {
  grid-area: value;
}
