.FormWrapperGrid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
  margin-top: 40px;
}
.FormGrid {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
}

.FormLabel {
  font-size: 40px;
  text-align: center;
  grid-column: 1/3;
  grid-row: 1/2;
}

.FormGrid input {
  width: 230px;
  height: 28px;
  border: solid rgb(39, 176, 194);
  border-width: 1px;
  border-radius: 5px;
}

.FormGrid input:focus {
  border: solid rgb(222, 222, 227);
  outline: none;
  border-width: 1px;
}

.FormGrid #input-div {
  display: inline-block;
}
.FormGrid button {
  grid-column: 1/3;
  margin: auto;
  height: 30px;
  background: rgb(39, 176, 194);
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 45px;
  width: 200px;
  outline: none;
}

.FormGrid label {
  font-size: 10px;
  color: rgb(39, 176, 194);
}
.FormGrid p {
  grid-column: 1/3;
  text-align: center;
}

.FormGrid a {
  text-decoration: none;
  color: rgb(247, 181, 87);
}
.FormLogo {
  width: 70%;
}
