.flat-button {
  padding: 15px 30px;
  margin: 0;
  border-radius: 10px;
  color: white;
  background-color: rgb(23, 176, 195);
  text-transform: uppercase;
  border: 0;
  font-weight: 600;
  box-shadow: 3px 3px 20px 0 rgba(23, 176, 195, 0.16);
}
