.payment-form-component{
    background-color: #ffffff;
    height: 50%;
}
.payment-form-component__form{
    display:grid;
    grid-template-rows: repeat(6,minmax(30px,1fr)) auto;
    grid-row-gap: 10px;
}

.payment-form-component__form__authentication{
    grid-row:5/7;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.payment-form-component__form__authentication div{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
.payment-form-component__form__button{
    background-color: #17b0c3;
    color: white;
    box-shadow: 50px;
    border-color: #17b0c3;
    height: 50px;
}