.cart-page-section {
  padding: 50px 0;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(100px, 150px) 1fr minmax(100px, 150px);
  /* padding: 50px 0; */
  font-weight: bold;
}
.cart-page-section__body {
  grid-column: 2/3;
}

.section-title-component {
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 50px;
}

.cart-page-section__title {
  grid-column: 2/4;
}
.cart-page-section__body {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  grid-column-gap: 50px;
}

.cart-page-section__body__detail {
  height: inherit;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 50px;
  min-width: 200px;
}

.cart-page-section__body__order__upper {
  grid-row: 1/2;
}

.cart-page-section__body__order__summary > div {
  padding: 50px 0 0 0;
  display: grid;
  justify-content: flex-end;
}

.cart-page-section__value {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  color: #a3a6a9;
  width: 400px;
}

.cart-page-section__value > span {
  justify-self: right;
}

@media (max-width: 1000px) {
  .cart-page-section__body {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    grid-template-rows: 1fr 1fr;
  }
  .cart-page-section__body__detail {
    grid-row: 2/3;
  }
  .cart-page-section__body__order {
    grid-row: 1/2;
  }
  .cart-page-section__body__order__summary > div {
    justify-content: center;
  }
  .cart-page-section {
    grid-template-columns: minmax(50px, 100px) 1fr minmax(50px, 100px);
  }
}
