.cart-page-section{
    text-align: left;
}
.cart-page-section__body{
    display :grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 5vh);
}

.cart-page-section__body__detail{
    /* height: 100%; */
    display:grid;
    grid-template-rows: repeat(2,1fr);
}
.cart-page-section__body__order{
    max-height:100%; 
    overflow: scroll;
}