

.LoginSection-section .LoginSection-section--loginWrapper {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;

  
}

.LoginSection-section--loginWrapper__alignDiv{
  display:grid;
  justify-items: center;
  padding-top: 20px;
}

/* LoginSection-section--loginWrapper__alignDiv--loginForm */

.loginForm {
  position: relative;
  width: 200px;
  justify-content: center;
  align-content: center;

}

.loginForm h1 {
  text-align: center;
}

.loginForm h2 {
  font-size: 8px;
  color: #17b0c3;
  text-align: left;
  margin-left: 85px;
}
.loginForm h3 {
  font-size: 10px;
  color: black;
  text-align: center;
}
.loginForm h4 {
  font-size: 10px;
  color: black;
  text-align: left;
}

.loginForm h4 span {
  font-size: 10px;
  color: #f8b64d;
  text-align: center;
}
.loginForm h3 span {
  font-size: 10px;
  color: #f05b8a;
  text-align: center;
}

.userLogin {
  border-style: solid;
  border-color: rgb(197, 197, 197);
  border-radius: 6px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 15px;
}
.loginButton {
  width: 200px;
  height: 32px;
  border-radius: 10px;
  margin-top: 5px;
  color: white;
  background-color: #17b0c3;
  border-style: solid;
  border-color: #17b0c3;
}

 .LoginSection-section--loginWrapper__birdLogo { 
  height: 70px;
  display: grid;
  position: relative;
  justify-items: center;
  padding-top: 20px;
  
}


.leaningMan {
  box-sizing: border-box;
  height: 200px;
 width: 100vw;
}

.leaningLogo{

  position: absolute;
  bottom:0;
  display: grid;
  justify-items: center;

}
